torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.206
ultralytics-thop==2.0.17

# Image Processing & Augmentation
opencv-python==4.12.0.88
albumentations==2.0.8

# Data Processing
numpy==2.2.6
pandas==2.3.2
scikit-learn==1.7.2
matplotlib==3.10.6

# Utilities
PyYAML==6.0.2
tqdm==4.67.1